* {
  margin: 0;
  padding: 0;
}
body {
  text-align: center;
  background-color: #637074;
  justify-content: center;
  align-items: center;
}

.continer {
  height: 70vh;
  width: 70vw;
  margin-left: 15vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.heding {
  margin-bottom: 0vh;
}
.game {
  height: 60vmin;
  width: 60vmin;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1.5vmin;
}
.box {
  height: 18vmin;
  width: 18vmin;
  font-size: 8vmin;

  color: #212227;
  background-color: #bdd4e7;
  border: none;
  border-radius: 10px;
  box-shadow: 0 0 10px black;
}
#new,
#reset {
  padding: 1rem;
  border: none;
  background-color: #212227;
  color: #bdd4e7;
  border-radius: 10px;
  font-size: 1.2rem;
}

.msg {
  font-size: 6vmin;
  padding-top: 4vmin;
  color: #bdd4e7;
}

.msg-continer {
  height: 100vmin;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 4rem;
}
.hide {
  display: none;
}
